<html>
<head>
  <title>Parcheesi Board</title>
</head>

<body>
  <div id="board" class="board" width="600" height="600"></div>
  <div class="cell" style="top: 0%;left: 0%;"></div>
  <div class="cell" style="top: 300px;left: 300px;"></div>
  <div class="cell" style="top: 600px;left: 600px;"></div>

  <div style="width: 600px;height: 600px;">

    <div class="cell" style="top: 341.0px;left: 370.0px;" ></div>
    <div class="cell" style="top: 376.0px;left: 370.0px;" ></div>
    <div class="cell" style="top: 411.0px;left: 370.0px;" ></div>
    <div class="cell" style="top: 446.0px;left: 370.0px;" ></div>
    <div class="cell" style="top: 481.0px;left: 370.0px;" ></div>
    <div class="cell" style="top: 516.0px;left: 370.0px;" ></div>
    <div class="cell" style="top: 550.0px;left: 370.0px;" ></div>
    <div class="cell" style="top: 550.0px;left: 335.0px;" ></div>
    <div class="cell" style="top: 550.0px;left: 300.0px;" ></div>
    <div class="playercell" style="top: 550.0px;left: 266.0px;" ></div>
    <div class="cell" style="top: 550.0px;left: 231.0px;" ></div>
    <div class="cell" style="top: 516.0px;left: 231.0px;" ></div>
    <div class="cell" style="top: 481.0px;left: 231.0px;" ></div>
    <div class="cell" style="top: 446.0px;left: 231.0px;" ></div>
    <div class="cell" style="top: 411.0px;left: 231.0px;" ></div>
    <div class="cell" style="top: 376.0px;left: 231.0px;" ></div>
    <div class="cell" style="top: 341.0px;left: 231.0px;" ></div>
    <div class="cell" style="top: 323.0px;left: 200.0px;" ></div>
    <div class="cell" style="top: 306.0px;left: 170.0px;" ></div>
    <div class="cell" style="top: 288.0px;left: 140.0px;" ></div>
    <div class="cell" style="top: 271.0px;left: 110.0px;" ></div>
    <div class="cell" style="top: 253.0px;left: 79.0px;" ></div>
    <div class="cell" style="top: 236.0px;left: 49.0px;" ></div>
    <div class="cell" style="top: 206.0px;left: 67.0px;" ></div>
    <div class="cell" style="top: 175.0px;left: 84.0px;" ></div>
    <div class="playercell" style="top: 145.0px;left: 101.0px;" ></div>
    <div class="cell" style="top: 115.0px;left: 119.0px;" ></div>
    <div class="cell" style="top: 132.0px;left: 149.0px;" ></div>
    <div class="cell" style="top: 150.0px;left: 179.0px;" ></div>
    <div class="cell" style="top: 167.0px;left: 210.0px;" ></div>
    <div class="cell" style="top: 185.0px;left: 240.0px;" ></div>
    <div class="cell" style="top: 202.0px;left: 270.0px;" ></div>
    <div class="cell" style="top: 220.0px;left: 300.0px;" ></div>
    <div class="cell" style="top: 202.0px;left: 331.0px;" ></div>
    <div class="cell" style="top: 185.0px;left: 361.0px;" ></div>
    <div class="cell" style="top: 167.0px;left: 391.0px;" ></div>
    <div class="cell" style="top: 150.0px;left: 422.0px;" ></div>
    <div class="cell" style="top: 132.0px;left: 452.0px;" ></div>
    <div class="cell" style="top: 115.0px;left: 482.0px;" ></div>
    <div class="cell" style="top: 145.0px;left: 500.0px;" ></div>
    <div class="cell" style="top: 175.0px;left: 517.0px;" ></div>
    <div class="playercell" style="top: 206.0px;left: 534.0px;" ></div>
    <div class="cell" style="top: 236.0px;left: 552.0px;" ></div>
    <div class="cell" style="top: 253.0px;left: 522.0px;" ></div>
    <div class="cell" style="top: 271.0px;left: 491.0px;" ></div>
    <div class="cell" style="top: 288.0px;left: 461.0px;" ></div>
    <div class="cell" style="top: 306.0px;left: 431.0px;" ></div>
    <div class="cell" style="top: 323.0px;left: 401.0px;" ></div>

</div>

</body>

</html>