.board {
	height: 800px;
    aspect-ratio: 1 / 1;
	position: relative;
	background-color: darkblue;
	background-image: 
		repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.2), transparent 20px),
		repeating-linear-gradient(-45deg, rgba(0,0,0,.2), transparent 20px),
		radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,0) 90%, rgba(0,0,0,0) 90%, rgba(0,0,0,.2));
	border: solid 5px black;
	padding: 25px;
}